body {
    margin: 0;
}

/* Dark mode */
body.dark-mode {
    background-color:#000000;
    color: white;
}



/* Meniu navigatie */
.nav-meniu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow:0px 5px 17px 5px #000000 ;
}

/* Dark mode meniu */
.dark-mode .nav-menu {
    box-shadow: 0px 0px 15px 5px white;
}

.nav-meniu li {
    flex: 1;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-meniu .nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #111111;
}

/* Dark mode */
.dark-mode .nav-link {
    color: white;
}

.nav-meniu li:hover .nav-link {
    transition: all 0.5s ease-in-out;
    color: red;
    letter-spacing: 2px;
}
/* dark mode toggle */
#mode-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/dark.svg");
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    transition: transform 0.5s linear;
}
#mode-toggle:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

/* Sectiune hero */
.hero-section {
    background: linear-gradient(
        rgba(255,255,255,0.25),
        rgba(0,0,0,0.5)
    ),
    url("https://source.unsplash.com/1600x900/?code");
    padding: 0 30px;
    height: calc(100vh - 60px);
    /*Functia Calc calculeaza ceva */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 1px black;
    font-size: 2em;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.25);
}

.hero-section h1,
.hero-section p {
    font-weight: 400;
    z-index: 1;
}

/* Sectiune text */
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 1000px;
    margin: 10px auto;
}

.page-content .page-content-text {
    margin-right: 30px;
    width: 30%;
}

.page-content .page-content-img {
    width: 50%;
}

/* Sectiune card-uri */
.cards-container {
    padding: 50px 30px;
}

.cards-container h2 {
    font-size: 38px;
    text-align: center;
}



.cards-list {
    display: grid;
    grid-gap: 1rem;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-list li {
    padding: 0;
    margin: 0;
}

.card {
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.card img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
}

.card .card-content button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
    transition: all o.3s linear;
    text-transform: uppercase;
}

.card .card-content button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/* Dark mode */

.dark-mode .card-content button {
    background-color: black;
    color: white;
    border-color: white;
}

.dark-mode .card {
    border: 1px solid white;
}

.dark-mode .card .card-content button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* Sectiune footer */
Footer {
    background-color: black;
    color: white;
    padding: 60px 30px;
}

footer p {
    text-align: center;
    margin: 0;
}

/* Pagina catalog */
.catalog {
    margin: 40px auto;
    padding: 50px 30px;
}

.catalog form {
    text-align: center;
    margin: 20px auto;
}

.catalog form input {
     min-width: 50%;
     line-height: 30px;
     margin-top: 10px ;
     padding: 5px;
     border: 1px solid black;
     border-radius: 5px;
     background-color: white;
     color: black;
}

.catalog form button {
    line-height: 30px;
    margin-top:30px ;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s linear;
}

.catalog form button:hover{
    background-color: black;
    color: white;
}

.dark-mode .catalog form button {
    background-color: black;
    color: white;
}

.dark-mode .catalog form button:hover {
    background-color: white;
    color: black;
}

iframe {
    width: 100%;
    margin: 20px auto;
    height: 80vh;
}

.container-contact {
    margin: 50px auto;
}

.contact-form {
    max-width: 600px;
    margin: 30px auto;
}

.container-contact input,
.container-contact textarea {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}


/* Media Queries-style pt display-uri mai mici de 600px */
@media only screen and (max-width: 600px) {
    .hero-section h1 {
        margin: 5px 20px !important;
    }

    .hero-section h1,
    .hero-section p {
        font-size: 0.8em;
        margin: 0 20px;
    }

    .page-content {
        display: block;
    }

    .page-content .page-content-img, 
    .page-content .page-content-text {
        width: 100%;
    }
}

/* Style pt display-uri mai mari de 600px */
@media only screen and (min-width:600px) {
    .cards-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* style pt display-uri mai mari de 900px */
@media only screen and (min-width: 900px) {
    .cards-list {
        grid-template-columns: repeat(3, 1fr);
    }
}