body {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 4px;
    top: 15%;
}
 h1 {
     font-weight: bold;
     text-align: center;
     width: 100%;
 }


 h3 {
     text-transform: none;
     letter-spacing: 0.005em;
 }

 button#randomBtn {
     font-weight: bold;
     letter-spacing: 1px;
     text-transform: uppercase;
     color: black;
     background-color: white;
     border: 1px solid black;
     border-radius: 50%;
     width:100px;
     height: 100px;
     cursor: pointer;
     transition: 0.3s ease-in-out;
 }

 button#randomBtn:hover {
     transform: translateY(2px);
 }